@media screen and (max-width: 800px) {
  .sidebar {
    display: none;
  }
}

.main-container {
  max-width: 960px;
  position: relative;
  margin: 0 auto;
  margin-top: -30px;
  .main-area {
    width: auto;
    margin: 0 310px 0 20px;
    max-width: 100%;
    &.article-area {
      min-height: 200px;
      background-color: #fff;
      border-radius: 20px;
    }
  }
  .sidebar {
    width: 270px;
    float: right;
    margin-right: 20px;
  }
}