#Main {
  width: auto;
  margin: 0 310px 0 20px;

  .cell.item {
    &:hover {
      cursor: pointer;
      background-color: #fcfcfc;
    }

    &:nth-of-type(1) {
      border-top: 1px solid #e2e2e2;
    }
  }

  .box {
    // background-color: #fff;
    box-shadow: 0px 1px 9px rgba(255, 177, 27, .2);

    // 重写antd导航样式
    .myPagination {
      position: relative;
      height: 24px;
      box-sizing: content-box;
      padding: 10px;

      li a:hover {
        color: #ffc408;
      }

      li[class*='next'],
      li[class*='prev'] {
        user-select: none;
        &[class*='disabled']:hover {
          background-color: #FAD689;
        }

        &:hover {
          background-color: #ffc408;
        }

        position: absolute;
        background-color: #FAD689;
        width: 35px;

        a {
          color: #fff;
        }
      }

      li[class*='prev'] {
        right: 50px;
      }

      li[class*='next'] {
        right: 10px;
      }



      li[class*='active'] {
        border-color: #FAD689;

        a {
          color: #fff;
          background-color: #ffc408;
        }
      }

    }

    .subTab {
      padding: 9px;
      background-color: #f9f9f9;
      border-radius: 20px;

      a {
        color: #778087;
        padding: 1px 9px;
        margin-right: 5px;

        &.active {
          background-color: #FFB11B;
          color: #fff;
          display: inline-block;
          padding: 5px 10px;
          border-radius: 5px;
        }
      }
    }

    .cell.item {
      padding: 10px;
      display: flex;
      align-items: center;
      border-top: 1px solid #ccc;

      &:last-child {
        border-bottom: 0;
        border-radius: 0 0 20px 20px;
      }

      .avatar {
        background-size: 48px 48px;
        border-radius: 4px;
      }

      p {
        margin: 0;
        line-height: 2rem;
      }

      .itemContent {
        flex: 1;
        padding-left: 10px;
        color: #ccc;

        a {
          color: #778087;
        }

        .node {
          background-color: #f5f5f5;
          padding: 4px;
          border-radius: 1px;
          color: #999999;
        }

        &>p {
          font-size: 12px;
        }

        &>p:nth-child(1) {
          font-size: 16px;
          color: #778087;
        }
      }

      .countsBox {
        background-color: #FAD689;
        border-radius: 5px;

        p {
          user-select: none;
          -webkit-user-select: none;
          -moz-user-select: none;
          color: #fff;
          width: 100%;
          padding: 0 4px;
          position: relative;

          @media (any-hover: hover) {
            &:hover {
              cursor: pointer;
              background-color: #ffc508b9;
            }
          }

          &.active {
            cursor: pointer;
            background-color: #ffc508b9;
          }

          &:nth-of-type(1) {
            border-bottom: 1px solid #fff;
            border-radius: 5px 5px 0 0;
          }

          &:nth-of-type(2) {
            border-radius: 0 0 5px 5px;
          }

          i {
            padding: 0 3px;
          }

          &.nicenice::before {
            content: 'o(￣▽￣)b';
            position: absolute;
            right: 20px;
            top: 0;
            white-space: nowrap;
            color: #000;
            user-select: none;
            opacity: 0;
            animation: niceAnime .5s;
          }
        }
      }
    }
  }
}

@keyframes niceAnime {
  from {}

  to {
    top: -20px;
    opacity: 1;
  }
}