@headerCot: #555566;

header#Top {
  height: 60px;
  padding: 8px 20px;
  box-sizing: border-box;
  // box-shadow: 1px 0px 6px rgba(0 , 0, 0, 0.4);
  position: relative;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e2e2e2;

  nav#Tab {
    padding: 9px;

    a {
      display: inline-block;
      padding: 1px 7px;
      color: #555555;
      margin-right: 5px;

      &.tab_current {
        background-color: #334;
        color: #fff;
        border-radius: 2px;
      }
    }
  }

  .header {
    max-width: 1060px;
    width: 100%;
    margin: 0 auto;

    .logo {
      width: 88px;
      height: 28px;
      background-image: url('../../static/logo.png');
      background-size: 88px 28px;
      background-repeat: no-repeat;
      display: block;
      float: left;
    }

    .cwp {
      display: flex;
      align-items: center;
      height: 28px;
    }

    .searchWrapper {
      float: left;

      .search {
        position: relative;
        margin-left: 20px;

        input[type='input'] {
          border-radius: 14px;
          border: 1px solid #fff;
          background-color: rgb(250, 250, 250);
          outline: none;
          padding: 6px 0;
          padding-left: 26px;
          box-sizing: border-box;
          transition: all .4s;

          &:focus {
            border-color: @headerCot;
          }
        }

        i.iconfont {
          position: absolute;
          left: 5px;
          top: 50%;
          transform: translateY(-50%);
          font-size: 24px;
          color: @headerCot;
        }
      }
    }

    .menuWrapper {
      float: right;

      a {
        color: @headerCot;
        text-decoration: none;
        padding: 6px;
      }

      a:hover {
        color: #bdbcbc;
      }
    }
  }
}

nav {
  padding: 0 20px!important;
  #Tab {
    max-width: 1060px;
    margin: 0 auto;
    box-sizing: border-box;
    a {
      padding-right: 20px;
      color: #555566;
      display: inline-block;
      height: 40px;
      line-height: 40px;
    }
  }
}


@media screen and (max-width: 600px) {
  #Top {
    .header {
      min-width: 0;
      width: 100%;

      .menuWrapper {
        display: none;
      }
    }
  }
}