@font-face {
  font-family: 'iconfont';  /* project id 2093295 */
  src: url('//at.alicdn.com/t/font_2093295_9afu0ci8g0d.eot');
  src: url('//at.alicdn.com/t/font_2093295_9afu0ci8g0d.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_2093295_9afu0ci8g0d.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_2093295_9afu0ci8g0d.woff') format('woff'),
  url('//at.alicdn.com/t/font_2093295_9afu0ci8g0d.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_2093295_9afu0ci8g0d.svg#iconfont') format('svg');
}
.iconfont {
  font-family: 'iconfont';
}

.main {
  background-color: #e2e2e2;
  border: 1px solid transparent;
  height: 700px;
}

/* my antd style */