@font-face {
  font-family: 'iconfont';
  /* project id 2093295 */
  src: url('//at.alicdn.com/t/font_2093295_9bvssjeqlgd.eot');
  src: url('//at.alicdn.com/t/font_2093295_9bvssjeqlgd.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_2093295_9bvssjeqlgd.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_2093295_9bvssjeqlgd.woff') format('woff'),
    url('//at.alicdn.com/t/font_2093295_9bvssjeqlgd.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_2093295_9bvssjeqlgd.svg#iconfont') format('svg');
}

@font-face {
  font-family: 'cangershu';
  src: url('./static/cangershu.ttf') format('truetype')
}

.iconfont {
  font-family: 'iconfont';
}

body {
  min-width: 400px;
  font-family: 'cangershu' !important;
}

.content {
  /* min-width: 600px; */
  max-width: 1100px;
  margin: 0 auto;
  margin-top: 20px;
}

.box {
  /* border: 1px solid #ffc408; */
  box-shadow: 0 0 4px #ffc408!important;
  border-radius: 20px;
}

.box .cell {
  border-bottom: 1px solid #e2e2e2;
}

.box .cell:last-child {
  border-bottom: 0;
}

.levelTag {
  background-color: lightblue;
  color: #fff;
  border-radius: 2px;
  padding: 0 1px;
  font-weight: 1000;
  font-size: 12px;
  margin-left: 4px;
}

/* my antd style */
.ant-form-item-explain {
  text-align: left;
}